# =========================================================================
# CONFIGURAÇÃO DE RAIZ DE HOSPEDAGEM (CPANEL / PUBLIC_HTML)
# Data Warehouse Eleitoral
# =========================================================================

# Charset Padrão UTF-8
AddDefaultCharset UTF-8
